USE [EXAT]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 13/8/2568 0:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENT_ID] [varchar](5) NOT NULL,
	[DEPARTMENT_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 13/8/2568 0:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[LOCATION_ID] [varchar](5) NOT NULL,
	[LOCATION_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MT_REPORTJOB]    Script Date: 13/8/2568 0:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MT_REPORTJOB](
	[REPORTJOB_ID] [int] NOT NULL,
	[REPORTJOB_REF] [varchar](200) NOT NULL,
	[REPORTJOB_TYPE] [varchar](10) NOT NULL,
	[REPORTJOB_STATUS] [char](1) NOT NULL,
	[REPORTJOB_FROMDATE] [datetime] NULL,
	[REPORTJOB_TODATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[FLAG] [bit] NOT NULL,
	[USER_ID] [varchar](8) NULL,
	[JOB_CODE] [varchar](5) NULL,
 CONSTRAINT [PK_SYS_MT_REPORTJOB] PRIMARY KEY CLUSTERED 
(
	[REPORTJOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 13/8/2568 0:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [varchar](8) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](30) NOT NULL,
	[PHONENUMBER] [varchar](10) NOT NULL,
	[POSITION] [varchar](50) NOT NULL,
	[ROLE] [varchar](10) NOT NULL,
	[DEPARTMENT_ID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKLOG]    Script Date: 13/8/2568 0:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKLOG](
	[WORKLOG_ID] [varchar](10) NOT NULL,
	[USER_ID] [varchar](8) NOT NULL,
	[WORK_DATE] [date] NOT NULL,
	[TIME_START] [time](7) NOT NULL,
	[TIME_END] [time](7) NOT NULL,
	[TASK_DETAIL] [text] NOT NULL,
	[LOCATION_ID] [varchar](5) NOT NULL,
	[JOB_CODE] [varchar](5) NULL,
	[COORDINATOR] [varchar](30) NULL,
	[ACTION_TAKEN] [text] NOT NULL,
	[PROBLEM] [text] NULL,
	[WORKTYPE_ID] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WORKLOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKTYPE]    Script Date: 13/8/2568 0:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKTYPE](
	[WORKTYPE_ID] [varchar](5) NOT NULL,
	[WORKTYPE_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WORKTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_User_Department] FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENT_ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_User_Department]
GO
ALTER TABLE [dbo].[WORKLOG]  WITH CHECK ADD  CONSTRAINT [FK_WORKLOG_LOCATION] FOREIGN KEY([LOCATION_ID])
REFERENCES [dbo].[LOCATION] ([LOCATION_ID])
GO
ALTER TABLE [dbo].[WORKLOG] CHECK CONSTRAINT [FK_WORKLOG_LOCATION]
GO
ALTER TABLE [dbo].[WORKLOG]  WITH CHECK ADD  CONSTRAINT [FK_WORKLOG_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[WORKLOG] CHECK CONSTRAINT [FK_WORKLOG_USER]
GO
ALTER TABLE [dbo].[WORKLOG]  WITH CHECK ADD  CONSTRAINT [FK_WORKLOG_WORKTYPE] FOREIGN KEY([WORKTYPE_ID])
REFERENCES [dbo].[WORKTYPE] ([WORKTYPE_ID])
GO
ALTER TABLE [dbo].[WORKLOG] CHECK CONSTRAINT [FK_WORKLOG_WORKTYPE]
GO
